<!DOCTYPE html>

<html lang="en">
<% include ../common/head.ejs %>

<body>
    <% include ../common/sideBar.ejs %>
    <header id="header">
        <% include ../common/navBar.ejs %>
    </header>




    <div class="mui-container">
        <div class="mui-panel" style="margin-top: 72px; margin-left:10% ">
            <center>
                <br>
                <legend style="margin-left:-5%; font-size: 24pt">Account Expense</legend>
                <br>
            </center>


            <form method="POST" action="/account/expense">

                <div class="mui-select mui-col-md-5">
                    <legend>Expense Note</legend>
                    <div class="mui-textfield">
                        <input type="text" name="note" value="" maxlength="35" />
                    </div>
                </div>

                <div class="mui-select mui-col-md-1">

                </div>

                <div class="mui-select mui-col-md-5">
                    <legend>Expense</legend>
                    <div class="mui-textfield">
                        <input type="number" name="expense" step="0.01" />
                    </div>
                </div>
                <div class="mui-select mui-col-md-2">
                    <button class="mui-btn mui-btn--primary mui-btn--raised" type="submit">
                        Submit
                    </button>
                </div>

            </form>
        </div>
    </div>



    <% include ../common/footer.ejs %>
</body>

</html>