<!DOCTYPE html>

<html lang="en">
<% include ../common/head.ejs %>

<body>
    <% include ../common/sideBar.ejs %>
    <header id="header">
        <% include ../common/navBar.ejs %>
    </header>




    <div class="mui-container">
        <div class="mui-panel" style="margin-top: 72px; margin-left:10% ">
            <center>
                <h1>Page not found</h1>
                <!-- <h2 style="color:red">ERROR 404</h2> -->

            </center>
        </div>
    </div>



    <% include ../common/footer.ejs %>
</body>

</html>