<!DOCTYPE html>
<html lang="en">

<head>
    <title>Brief information about the Developers</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap 4 Portfolio/Resume Theme for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
        integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link id="theme-style" rel="stylesheet" href="/css/contact_style.css">

</head>

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container clearfix">
            <img class="profile-image img-fluid float-left" src="/img/MyProfile.png" height="150" width="150" />
            <div class="profile-content float-left">
                <h1 class="name">Md. Mehadi Hasan</h1>
                <h2 class="desc">Web App Developer</h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="https://aboutme.google.com/?referer=gplus"><i
                                class="fab fa-google-plus-g"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/md-mehadi-hasan-4b508915b/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/mehadi-trackrep"><i
                                class="fab fa-github-alt"></i></a></li>
                </ul>
            </div>
            <a class="btn btn-cta-primary float-right" href="https://www.facebook.com/MMH49" target="_blank"><i
                    class="fas fa-paper-plane"></i> Contact Me</a>
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I am a student of CSE department in Shahjalal University of Science & Technology of final
                                year. Actually, i am passionate in web developing. I have done competitve programming in
                                the first 5 semester.</p>
                        </div>
                    </div>
                </section>

                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Some Latest Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Jamat Time Finder<span class="badge badge-theme">Open Source</span>
                                </h3>
                                <p class="summary">Users can get jamat time of any masjids and they can give the time
                                    also. They also can get the location of each masjid.</p>
                                <p><a class="more-link" href="https://github.com/mehadi-trackrep/Academic_Projects"
                                        target="_blank"><i class="fas fa-external-link-alt"></i>View on GitHub</a></p>
                            </div>
                            <div class="item">
                                <h3 class="title">Task Sharing<span class="badge badge-theme">Open Source</span></h3>
                                <p class="summary">Using this web application every user can share his urgent tasks that
                                    he wants to be done by someone using bidding system. After completing the task by
                                    someone the person pay him a delivery charge.</p>
                                <p><a class="more-link" href="#" target="_blank"><i
                                            class="fas fa-external-link-alt"></i>View on GitHub</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>IICT
                                    202-B lab, SUST, Sylhet, BD</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a
                                        href="#">mehadi541@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                I have skills in the following programming languages.</p>
                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">PHP &amp; NodeJS<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Javascript<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Specialist</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">Shell Script &amp; Android<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Specialist</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science</h3>
                                <h4 class="university">Shahjalal University of Science & Technology, Sylhet <span
                                        class="year">(2014-2019)</span></h4>
                            </div>
                            <div class="item">
                                <h3 class="title"><i class="fa fa-university"></i> HSC passed</h3>
                                <h4 class="university">Kalaroa Govt. College, Kalaroa, Satkhira <span
                                        class="year">(2012-2014)</span></h4>
                            </div>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>

    <!-- Second one Developer  -->
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container clearfix">
            <img class="profile-image img-fluid float-left" src="/img/ShuhanProfile.png" height="150" width="150" />
            <div class="profile-content float-left">
                <h1 class="name">Mirza Karmul Bashar Shuhan</h1>
                <h2 class="desc">UI desiner, Python Developer and Server Maintainer</h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt"></i></a></li>
                </ul>
            </div>
            <a class="btn btn-cta-primary float-right" href="https://www.facebook.com/shuhan.mirza" target="_blank"><i
                    class="fas fa-paper-plane"></i> Contact Me</a>
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I am a student of CSE department in Shahjalal University of Science & Technology of final
                                year. Actually, i am passionate in web developing. I have done competitve programming in
                                the first 5 semester.</p>
                        </div>
                    </div>
                </section>

                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Some Latest Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Project1<span class="badge badge-theme">Open Source</span></h3>
                                <p class="summary">AAAaaa .. </p>
                                <p><a class="more-link" href="#" target="_blank"><i
                                            class="fas fa-external-link-alt"></i>View on GitHub</a></p>
                            </div>
                            <div class="item">
                                <h3 class="title">Project2<span class="badge badge-theme">Open Source</span></h3>
                                <p class="summary">AAAaaa .. </p>
                                <p><a class="more-link" href="#" target="_blank"><i
                                            class="fas fa-external-link-alt"></i>View on GitHub</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Modina
                                    Market, Sylhet, BD</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a
                                        href="#">shuhan.mirza@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                I have skills in the following programming languages.</p>
                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">PHP &amp; Server<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Javascript<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Specialist</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">Shell Script &amp; Android<span class="level-label"
                                            data-toggle="tooltip" data-placement="left" data-animation="true"
                                            title="You can use the tooltip to explain more about your skill level..."><i
                                                class="fas fa-info-circle"></i>Specialist</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science</h3>
                                <h4 class="university">Shahjalal University of Science & Technology, Sylhet <span
                                        class="year">(2014-2019)</span></h4>
                            </div>
                            <div class="item">
                                <h3 class="title"><i class="fa fa-university"></i> HSC passed</h3>
                                <h4 class="university"> <span class="year">(2012-2014)</span></h4>
                            </div>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a
                    href="https://themes.3rdwavemedia.com" target="_blank">MMH-MKBS</a> for developers</small>
        </div>
    </footer>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/contact_js.js"></script>
</body>

</html>