<!doctype html>

<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <div class="container-fluid">

        <!-- ### Submenu nici: https://www.bootply.com/fe4AfcEnKD -->

        <!--== Navigation Bar Start  ==-->
        <% include partials/navbar.ejs %>

        <!-- == Main body starts here == -->
        <% include partials/sidebar.ejs %>

        <!--== Footer Area == -->
        <!-- <% include partials/footer.ejs %> -->

    </div>
    <!-- ## All Script files ## -->
    <% include partials/all_scripts.ejs %>

</body>

</html>