<!DOCTYPE html>

<html lang="en">
  <% include ../common/head.ejs %>
  <body>
    <% include ../common/sideBar.ejs %>
    <header id="header">
      <% include ../common/navBar.ejs %>
    </header>
    <div class="homeArt">

    </div>
  </body>
  <footer>
    <% include ../common/footer.ejs %>
  </footer>
</html>
