<footer id="footer" style="position: fixed; width: 100%;  bottom:0; background-color: black; height:5%">
    <div>
        <center style="margin-top: 1%">Made with ❤️️ by <a href=" #">Bridge Tech</a></center>
    </div>
</footer>