<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title"><strong>BPP App</strong> </span>
  </div>
  <div class="mui-divider"></div>
  <ul style="font-size: 14pt;">
    <li>
      <strong>Billing</strong>
      <ul>
        <li><a href="/bill/quick_bill">Quick bill</a></li>
        <!-- <li><a href="/bill/bill_for_vehicle">Bill for vehicle</a></li> -->
        <li><a href="/bill/newBill">Bill for vehicle</a></li>
        <li><a href="/bill/dueReceive">Due Receive</a></li>
        <li><a href="/bill/find_bills">Find bills</a></li>
      </ul>
    </li>
    <li>
      <strong>Stock</strong>
      <ul>
        <li><a href="/stock/view_stock">Update stock amount
          </a></li>
        <li><a href="/stock/add_stock">Initialize new stock
          </a></li>
        <li><a href="/stock/modify_stock">Adjust selling price</a></li>
      </ul>
    </li>
    <li>
      <strong>Product</strong>
      <ul>
        <li><a href="/product/view_products">View product</a></li>
        <li><a href="/product/add_product">Add product</a></li>
      </ul>
    </li>
    <li>
      <strong>Vehicle</strong>
      <ul>
        <li><a href="/vehicle/view_vehicle">View vehicle</a></li>
        <li><a href="/vehicle/add_vehicle">Add vehicle</a></li>
        <li><a href="/vehicle/modifyVehicle">Modify vehicle</a></li>
      </ul>
    </li>
    <li>
      <strong>Customer</strong>
      <ul>
        <li><a href="/customer/view_customers">View customers</a></li>
        <li><a href="/customer/add_customer">Add customer</a></li>
        <li><a href="/customer/customerAccounts">Custommer accounts</a></li>
      </ul>
    </li>
    <li>
      <strong>Discount</strong>
      <ul>
        <li><a href="/discount/viewDiscount">View Discount</a></li>
        <li><a href="/discount/setDiscount">Set Discount</a></li>
      </ul>
    </li>
    <li>
      <strong>Account</strong>
      <ul>
        <li><a href="/account/accountStatus">Account Status</a></li>
        <li><a href="/account/accountUpdate">Update Account</a></li>
        <li><a href="/account/accountExpenses">Account Expenses</a></li>

      </ul>
    </li>
    <li>
      <strong>Users</strong>
      <ul>
        <li><a href="/users/addNewUser">Add User</a></li>
        <li><a href="/users/currentUsers">View User</a></li>
      </ul>
    </li>
  </ul>
</div>